<div class="card mb-5">
    <div class="card-header bg-secondary">
        <h4 class="card-title"><a class="text-info" href="/blog/{{id}}">{{title}}</a></h4>
        <h6 class="card-subtitle mb-2 text-light">Posted by {{user.email}} on {{created_at}}</h6>
    </div>
    <div class="card-body">
        <p class="card-text">{{body}}</p>
        <a class="text-info" href="/edit/{{id}}">Edit Blog</a>
        <button onclick="deleteFormHandler(event)" class="text-info" data-id="{{id}}">Delete Blog</button>
    </div>
</div>