{{!-- Include the main layout --}}
{{> main}}

{{!-- Set the page title --}}
{{#settitle}}{{blog.title}}{{/settitle}}

{{!-- Begin the content --}}
{{#content "main"}}
  <h1>{{blog.title}}</h1>
  <p>{{format_date blog.created_at}}</p>
  <p>{{blog.content}}</p>
  <p>Written by {{blog.user.name}}</p>

  {{!-- Check if the user is logged in --}}
  {{#if user}}
    {{!-- Check if the user is the author of the blog --}}
    {{#ifEqual user.id blog.user.id}}
      <div class="btn-group">
        <a href="/blogs/{{blog.id}}/edit" class="btn">Edit</a>
        <a href="#" class="btn btn-danger delete-post" data-id="{{blog.id}}">Delete</a>
      </div>
    {{/ifEqual}}
  {{/if}}
  
  <h2>Comments:</h2>

  {{!-- Check if there are comments --}}
  {{#if comments.length}}
    <ul class="comment-list">
      {{!-- Iterate over the comments --}}
      {{#each comments}}
        <li>
          <p>{{comment_text}}</p>
          <p>Posted by {{user.name}} on {{format_date created_at}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No comments yet.</p>
  {{/if}}

  {{!-- Check if the user is logged in to show the comment form --}}
  {{#if user}}
    <form class="comment-form">
      <input type="hidden" id="comment-blog-id" value="{{blog.id}}">
      <div class="form-group">
        <label for="comment-text">Add a Comment:</label>
        <textarea id="comment-text" required></textarea>
      </div>
      <button type="submit" class="btn">Submit Comment</button>
    </form>
  {{else}}
    <p>Please <a href="/login">log in</a> to add a comment.</p>
  {{/if}}
{{/content}}
